<!DOCTYPE html>
<html lang="it">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Remembro ergo sum">
    <meta name="author" content="Paolo Antonio Rossi">

    <title>iRemember</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body ng-app="app">
    <h1>Medium </h1>
    <a  name="activities"></a>

	<div ng-controller="ActivitiesCtrl" class="container">

		<ul class="list-group">

			<li ng-repeat="activity in activities | orderBy: '-activitydate'" class="list-group-item">
				<div class="row">
				<div class="col-md-1" style="padding-top:13px;"> 				
				<span>{{ activity.pictogram }}</span>
				</div>	
				<div class="col-md-2">
					<img src="./pictograms/{{ activity.pictogram }}" alt="Pictogram" height="100" width="140">	
				</div>
				<div class="col-md-5">
				<div class="col-md-3" style="padding-top:23px;">
					<span> {{ activity.activitydate }}</span>
				</div>
				</div>
			</li>
		</ul>
	</div>


	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.js"></script>
	<script src="/app.js"></script>
	
	<br>
	<br>

</body>

</html>
