<!DOCTYPE html>
<html lang="it">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Remembro ergo sum">
    <meta name="author" content="Paolo Antonio Rossi">

    <title>iRemember</title>

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../css/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body>

        <div class="row top-buffer">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-default black-button" aria-label="Left Align">
                      <span aria-hidden="true">08:00</span>
                  </button>
            </div>
            <div class="col-md-4">
            </div> 
        </div>
        <div class="row top-buffer">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <img src="../pictograms/aankleden.png" alt="Pitch Picture" height="300px">
            </div>
            <div class="col-md-4">
            </div>
        </div> 
		<div class="row center-buffer">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
				<h2> How do you feel? </h2>
            </div>
            <div class="col-md-4">
            </div>
        </div> 

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.js"></script>
	<script src="/app.js"></script>
	
	<br>
	<br>

</body>

</html>
